---
import { ArrowUturnUpIcon } from "@heroicons/react/24/outline";
import Layout from "@layouts/Layout.astro";
---

<Layout title="404: Page not found">
  <main class="mx-auto mb-12 mt-16 min-h-full px-4 sm:px-6 lg:px-8">
    <div class="py-16 text-center">
      <p class="text-xl font-semibold text-amber-500 sm:text-2xl">404</p>
      <h1 class="mt-4 text-4xl font-bold tracking-tight text-white sm:text-8xl">
        Page not found.
      </h1>
      <p class="mt-4 text-xl text-gray-300 sm:text-2xl">
        Sorry, we couldn’t find the page you’re looking for.
      </p>
      <div class="mt-8">
        <a
          href="/"
          class="text-xl font-medium text-amber-500 hover:text-amber-400 sm:text-2xl"
        >
          Go back home
          <ArrowUturnUpIcon
            className="ml-1 inline h-4 w-4 motion-safe:animate-bounce sm:h-5 sm:w-5"
            aria-hidden="true"
          />
        </a>
      </div>
    </div>
  </main>
</Layout>
