---
import Layout from "../layouts/Layout.astro";

const title = "About Zita";
---

<Layout title={title}>
  <main>
    <h1>Get to know <span class="text-gradient">Zita</span></h1>
    <p class="instructions">
      Zita, the Czech coding sensation, can debug a program with one hand tied
      behind her back, all while sipping on a cup of absinthe.
    </p>
    <p class="instructions">
      Her code is so clean, it once brought a tear to an old compiler's eye, who
      never thought it would witness such elegance.
    </p>
    <p class="instructions">
      Rumor has it that Zita's keyboard has a secret admiration mode that
      activates whenever she starts typing – even the most stoic lines of code
      can't help but blush.
    </p>
  </main>
</Layout>
