---
import InfoPanel from "@components/InfoPanel.astro";
import PageLayout from "@layouts/PageLayout.astro";
---

<PageLayout
  title="About Zita"
  heading="Get to know Zita"
  nonSlidingHeading="Get to know"
  slidingHeading="Zita"
>
  <InfoPanel>#full-stack #react #node #typescript #nextjs #python</InfoPanel>

  <p class="pb-4">
    Greetings! I'm <span class="font-semibold">Zita</span>, a tech enthusiast
    from the picturesque city of <span class="font-semibold">Brno, Czechia</span
    >. My journey into the world of programming began during my university days.
    Armed with nothing but a dream and a caffeine addiction, I embarked on a
    coding adventure with no prior experience.
  </p>

  <p class="pb-4">
    Initially introduced to the realms of C and Java, I found myself struggling
    with languages that didn't quite click with me. It wasn't until I discovered

    <span class="font-semibold">Python</span> that the coding puzzle started making
    sense.
  </p>

  <p class="pb-4">
    Since 2017, <span class="font-semibold">React</span> has been my playground,
    transforming me from a novice to a seasoned practitioner. The front end magic
    of React cast its spell on me, laying the foundation for years of enjoyable coding.
  </p>

  <p class="pb-4">
    Venturing further into the coding odyssey, my journey took a captivating
    turn when I stumbled upon <span class="font-semibold">TypeScript</span>, <span
      class="font-semibold">Next.js</span
    >, and <span class="font-semibold">Node.js</span>. These powerful tools
    revealed an entirely new dimension to my coding repertoire. I became a
    full-stack developer.
  </p>

  <p class="pb-4">
    Beyond the code and pixels, you'll find me immersed in the rhythm of an
    <span class="font-semibold">active lifestyle</span>. From hiking to running,
    cycling to swimming, jumping to yoga. My newest hobby is strumming the
    strings of a <span class="font-semibold">guitar</span>. I may not be a
    virtuoso, but the joy of playing has been a dream since my childhood. <span
      class="font-semibold">Board games</span
    > are my mental playground, and when I'm not lost in code, you'll find me lost
    in <span class="font-semibold">far-off lands</span> because, let's face it, who
    doesn't love a good intergalactic adventure?
  </p>

  <p class="pb-4">
    <span class="font-semibold">Join me</span> on this digital journey where code
    meets creativity, and every line is a story waiting to be told.
  </p>
</PageLayout>
