---
import { getCollection } from "astro:content";
import PageLayout from "@layouts/PageLayout.astro";
import BlogPostCards from "@components/BlogPostCards.astro";

const posts = await getCollection("posts");
---

<PageLayout
  title="Blog"
  heading="See our blogposts"
  nonSlidingHeading="See our"
  slidingHeading="blogposts"
>
  <p
    class="my-8 rounded-lg border border-solid border-dark-gray bg-dark-green p-6 text-light-gray"
  >
    Reading our blog posts is like decoding a secret message from a team of
    caffeinated wizards—grab your virtual wand and prepare for a spellbinding
    journey through the realms of tech sorcery.
  </p>
  <BlogPostCards posts={posts} />
</PageLayout>
