---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";

const title = "Blog";
---

<Layout title={title}>
  <main>
    <h1>See our <span class="text-gradient">blogposts</span></h1>
    <p class="instructions">
      Reading our blog posts is like decoding a secret message from a team of
      caffeinated wizards—grab your virtual wand and prepare for a spellbinding
      journey through the realms of tech sorcery.
    </p>
    <ul class="link-card-grid">
      <Card
        href="/posts/introduction"
        title="Introduction"
        body="Introducing our blog"
      />
      <Card href="/posts/zita" title="Zita" body="Meet Zita." />
      <Card href="/posts/dan" title="Dan" body="Meet Dan." />
    </ul>
  </main>
</Layout>
