---
interface Props {
  title: string;
  body: string;
  href: string | undefined;
}

const { href, title, body } = Astro.props;
---

<li
  class="rounded-lg border border-solid border-medium-gray bg-medium-green font-semibold shadow hover:text-violet"
>
  <a href={href} class="block p-6">
    <h2 class="m-0 text-xl">
      {title}<span>&nbsp;&rarr;</span>
    </h2>
    <p class="mb-0 mt-2 font-normal text-ultra-dark-green">
      {body}
    </p>
  </a>
</li>
