---
import { SITE_TITLE } from "../const";
---

<footer
  class="shrink-0 bg-ultra-dark-green text-center text-light-gray lg:text-left"
>
  <div class="p-4 text-center">
    © 2023 Copyright:
    <a class="uppercase" href="/index">{SITE_TITLE}</a>
  </div>
</footer>
