---
import { SITE_TITLE } from "@const";
---

<footer class="mt-5 bg-ultra-dark-green text-light-gray">
  <div class="p-4 text-center">
    © 2023 Copyright:
    <a class="uppercase" href="/index">{SITE_TITLE}</a>
  </div>
</footer>
