---
import NavigationItem from "./NavigationItem.astro";
---

<div class="flex w-full flex-col justify-center p-5 sm:flex-row">
  <NavigationItem title="Home" href="/" />
  <NavigationItem title="About Zita" href="/about-zita/" />
  <NavigationItem title="Blog" href="/blog/" />
</div>
