---

---

<!-- .nav-links {
  color: rgb(var(--accent));
  width: 100%;
  top: 5rem;
  left: 48px;
  background-color: #ff9776;
  display: none;
  margin: 0;
} -->
<div class="left-12 top-20 m-0 w-full uppercase text-violet">
  <a href="/">Home</a>
  <a href="/about-zita/">About Zita</a>
  <a href="/blog/">Blog</a>
</div>
