---
import NavigationItem from "./NavigationItem.astro";
---

<div
  class="left-12 top-20 m-5 grid w-full text-center uppercase text-violet sm:inline-block"
>
  <NavigationItem title="Home" href="/" />
  <NavigationItem title="About Zita" href="/about-zita/" />
  <NavigationItem title="Blog" href="/blog/" />
</div>
