---
import { Image } from "astro:assets";
import iconGithub from "../assets/icon-github.svg";
import iconLinkedin from "../assets/icon-linkedin.svg";
import iconMessenger from "../assets/icon-messenger.svg";

interface Props {
  platform: "github" | "linkedin" | "messenger";
  href: string;
}

const { platform, href } = Astro.props;
const iconSrc =
  platform === "github"
    ? iconGithub
    : platform === "linkedin"
      ? iconLinkedin
      : iconMessenger;
---

<a href={href}>
  <Image src={iconSrc} alt={`Icon for ${platform} social site.`} />
</a>
