---
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"h2">;

const props = Astro.props;
---

<h2 {...props} class="mb-6 mt-14 text-3xl font-extrabold text-violet">
  <slot />
</h2>
