---
import { ViewTransitions } from "astro:transitions";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import "../styles/global.css";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html
  lang="en"
  class="box-border bg-light-green font-sans text-ultra-dark-green"
>
  <head
    ><meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body class="mx-auto my-0 flex min-h-screen w-full flex-col leading-6">
    <Header />

    <main class="m-auto w-4/5 p-4 text-base">
      <slot />
    </main>

    <Footer />
  </body>
</html>
